*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

img{
  width: 100%;
}

main{
  width: 80%;
  margin: 5% auto;
}

.img_container{
  position: relative;
  display: inline-block;
  width: 31%;
  margin: 1%;
  cursor: pointer;
}

.img_default{
  display: block;
}

.img_hover{
  display: none;

}

.img_container:hover .img_default{
  display: none;
}

.img_container:hover .img_hover{
  display: block;
}



.heart::after{
  content: "\2665";
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: 50;
  background-color: white;
  padding: 10px 13px;
}